/* Donors Slide */

#container {
	width:500px;
	padding:10px;
	margin-left:500px;
	margin-bottom:230px;
	top:-20px;
	position:relative;
	z-index:0;
	font:normal 80%/1.5 Helvetica, Arial, sans-serif;
	color:black;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
#slides ol,ul { list-style:none; }
/*
	Slideshow style
*/

#slides {
		overflow:hidden;
	width:500px;
	height:550px;
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/
#slides img{border:none;}
.slides_container {
	padding-left:20px;
	width:500px;
	height:250px;
	overflow:hidden;
	position:relative;
	display:none;

}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	padding:20px;
	width:400px;
	height:230px;
	display:block;
	border:1px solid #cecece;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	top:80px;
	left:-7px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:456px;
}
/*
	Pagination
*/

#slides .pagination {
	top:-70px;
	left:90px;
	position:relative;
	z-index:10000;
	float:right;
	width:300px;
}

#slides .pagination li {
	position:relative;
	z-index:105;
	margin:0 1px;
	
	float:left;


}

#slides .pagination li a {
	font-weight:bold;
	background:#ddd;
	border:5px solid transparent;
	border-radius:90px;
	font-size:13px;
	position:relative;
	top:-5px;
	left:4px;
	text-decoration:none;

}
#slides .pagination li.current{
	

}
#slides .pagination li.current a {
	background:#666;
		box-shadow:1px 1px 1px #aaa;
			color:#fff;
			font-weight:bold;
}

/*
	Type and anchors
*/

#slides a:link,a:visited {
	text-decoration:none;
}

#slides a:hover,a:active {
	color:#599100;
	text-decoration:none;
}

#slides h1 {
	font-size:2em;
}

#slides p {
	font-size:1.3em;
}

#slides .linka {
	float:middle;
	position:relative;
	font-size:16px;
	margin:10px 0 0 20px;
	background:
	font-weight:800;
}
#slides .linka a.current{
	margin-left:30px;
}


/*
******************
******************
******************
				Projects Slide 
 *****************
 *******************
 **********************/

#container_p {
	width:500px;
	padding:10px;
	margin-bottom:290px;
	top:-20px;
	float:left;
	position:relative;
	z-index:0;
	font:normal 80%/1.5 Helvetica, Arial, sans-serif;
	color:black;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
#slides_p ol,ul { list-style:none; }
/*
	Slideshow style
*/

#slides_p{
		overflow:hidden;
	width:500px;
	height:550px;
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/
#slides_p img{border:none;}
#slides_p .slides_container {
	padding-left:20px;
	width:500px;
	height:300px;
	overflow:hidden;
	position:relative;
	display:none;

}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_p .slide {
	padding:20px;
	width:400px;
	height:320px;
	display:block;
	border:1px solid #cecece;

}

/*
	Next/prev buttons
*/
#slides_p .next,#slides_p .prev {
	position:absolute;
	top:80px;
	left:-7px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides_p .next {
	left:456px;
}
/*
	Pagination
*/

#slides_p .pagination {
	top:0px;
	left:250px;
	position:absolute;
	z-index:10000;
	float:right;
	width:300px;
}

#slides_p .pagination li {
	position:relative;
	z-index:105;
	margin:0 1px;
	
	float:left;


}

#slides_p .pagination li a {
	font-weight:bold;
	background:#ddd;
	border:5px solid transparent;
	border-radius:90px;
	font-size:13px;
	position:relative;
		
	top:-5px;
	left:4px;
	text-decoration:none;

}
#slides_p .pagination li.current{
	

}
#slides_p .pagination li.current a {
	background:#666;
		box-shadow:1px 1px 1px #aaa;
			color:#fff;
			font-weight:bold;
}

/*
	Type and anchors
*/

#slides_p a:link,a:visited {
	text-decoration:none;
}

#slides_p a:hover,a:active {
	color:#599100;
	text-decoration:none;
}
#slides_p  .linka a:link,a:visited {
	text-decoration:none;
}

#slides_p .linka a:hover,a:active {
	color:#599100;
	text-decoration:none;
}
#slides_p h1 {
	font-size:2em;
}

#slides_p p {
	font-size:1.3em;
}
/*
******************
******************
******************
				Donate Time Slide
 *****************
 *******************
 **********************/

#container_dt {

	margin-bottom:290px;
	right:5px;
	float:left;
	position:relative;
	z-index:0;
	font:normal 80%/1.5 Helvetica, Arial, sans-serif;
	color:black;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;

}
#slides_dt ol,ul { list-style:none; }
/*
	Slideshow style
*/

#slides_dt{
		overflow:hidden;

	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/
#slides_dt img{border:none;}
#slides_dt .slides_container {
	
	height:300px;
	overflow:hidden;
	position:relative;
	display:none;

}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides_dt .slide {


	height:320px;
	display:block;
	border:1px solid #cecece;

}

/*
	Next/prev buttons
*/
#slides_dt .next,#slides_dt .prev {
	position:absolute;
	top:80px;
	left:-2px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides_dt .next {
	left:370px;
}
/*
	Pagination
*/

#slides_dt .pagination {
	top:250px;
	left:250px;
	position:absolute;
	z-index:10000;
	float:right;
	width:300px;
}

#slides_dt .pagination li {
	position:relative;
	z-index:105;
	margin:0 1px;
	
	float:left;


}

#slides_dt .pagination li a {
	font-weight:bold;
	background:#ddd;
	border:5px solid transparent;
	border-radius:90px;
	font-size:13px;
	position:relative;
		
	top:-5px;
	left:4px;
	text-decoration:none;

}
#slides_dt .pagination li.current{
	

}
#slides_dt .pagination li.current a {
	background:#666;
		box-shadow:1px 1px 1px #aaa;
			color:#fff;
			font-weight:bold;
}

/*
	Type and anchors
*/

#slides_dt a:link,a:visited {
	text-decoration:none;
}

#slides_dt a:hover,a:active {
	color:#599100;
	text-decoration:none;
}
#slides_dt  .linka a:link,a:visited {
	text-decoration:none;
}

#slides_dt .linka a:hover,a:active {
	color:#599100;
	text-decoration:none;
}
#slides_dt h1 {
	font-size:2em;
}

#slides_dt p {
	font-size:1.3em;
}



/*Donate_Time SlideShow */


.sp-slideshow {
    position: relative;
	max-width: 370px;
	min-width: 100px;
	height: 270px;
	margin:10px auto;
	margin-left:30px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.sp-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.sp-slideshow input {
    position: absolute;
	bottom: -15px;
	left: 50%;
	width: 9px;
	height: 9px;
	z-index: 1001;
	cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-slideshow input + label {
    position: absolute;
    bottom: -15px;
	left: 50%;
    width: 6px;
	height: 6px;
	display: block;
	z-index: 1000;
	border: 3px solid #000;
	border: 3px solid rgba(0,0,0,0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}
.sp-slideshow input:checked + label {
	background-color: #000;
    background-color: rgba(0,0,0,0.9);
}

.sp-selector-1, .button-label-1 {
    margin-left: -36px;
}

.sp-selector-2, .button-label-2 {
    margin-left: -18px;
}

.sp-selector-4, .button-label-4 {
    margin-left: 18px;
}

.sp-selector-5, .button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
	top: 50%;
	width: 28px;
	height: 38px;
	margin-top: -19px;
	display: none;
	opacity: 0.8;
	cursor: pointer;
	z-index: 1000;
	background: black url(../images/arrows.png) no-repeat;
	-webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.sp-arrow:hover{
	opacity: 1;
}
.sp-arrow:active{
	margin-top: -18px;
}
.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: -30px;
	display: block;
	background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: -30px;
	display: block;
	background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;}

input.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
}

input.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
}

input.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
}

input.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
	left: 0;
    width: 500%;
	height: 100%;
	list-style: none;
    margin: 0;
	padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s; 
}

.sp-slider > li {
	color: #fff;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
    float: left;
	text-align: center;
	opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s; 
}
.sp-slider > li img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	
}
input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
	opacity: 1;
}
@media screen and (max-width: 840px){
	.sp-slideshow { height: 345px; }
}
@media screen and (max-width: 680px){
	.sp-slideshow { height: 285px; }
}
@media screen and (max-width: 560px){
	.sp-slideshow { height: 235px; }
}
@media screen and (max-width: 320px){
	.sp-slideshow { height: 158px; }
}